# version: 1.0.3
# release: 2
# icons_version: 1.0.1
# emoji_version: 1.0.0

Source: termysequence
Section: utils
Priority: optional
Maintainer: Eamon Walsh <ewalsh@termysequence.com>
Build-Depends: debhelper (>= 10), cmake (>= 3.9), g++ (>= 4:7.3), pkg-config,
 libsystemd-dev (>= 235), uuid-dev, libgit2-dev (>= 0.26), libsqlite3-dev,
 libv8-dev (>= 6.7), libfuse3-dev (>= 3.1), libcmocka-dev, libz-dev,
 qtbase5-dev (>= 5.9), libqt5svg5-dev, qttools5-dev
Standards-Version: 4.1.2
Homepage: https://termysequence.io

Package: termy-server
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: libgit2-26, termy-shell-integration-bash
Description: TermySequence terminal multiplexer server
 A multiplexing terminal emulator server implementing
 the TermySequence protocol.

Package: termy-shell-integration-bash
Architecture: all
Depends: ${misc:Depends}
Enhances: termy-server
Description: iTerm2 bash shell integration for TermySequence
 iTerm2 bash shell integration for TermySequence,
 sourced by /etc/profile

Package: termy-qt
Architecture: amd64
Depends: termy-server, fuse3, libnotify-bin, ${shlibs:Depends}, ${misc:Depends}
Recommends: termy-icon-theme, termy-emoji
Description: TermySequence terminal multiplexer client
 A Qt-based multiplexing terminal emulator client
 implementing the TermySequence protocol.

Package: termy-icon-theme
Architecture: all
Depends: ${misc:Depends}
Enhances: termy-qt
Description: Icon theme for termy-qt
 This is a redistribution of icons from the Adwaita and Oxygen icon themes,
 providing an icon theme for the termy-qt terminal emulator client.

Package: termy-emoji
Architecture: all
Depends: ${misc:Depends}
Enhances: termy-qt
Description: Emoji images for termy-qt
 This is a redistribution of SVG images from Twitter Emoji for Everyone,
 providing emoji images for the termy-qt terminal emulator client.
