#!/usr/bin/make -f
#export DH_VERBOSE = 1

ifeq ($(DEB_TARGET_ARCH), amd64)
v8arch = x64
endif
ifeq ($(DEB_TARGET_ARCH), i386)
v8arch = x86
endif

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- -DUSE_FUSE2=1 -DUSE_FUSE3=0 \
	  -DSU_NEEDS_PTY=1 -DV8_ARCH=$(v8arch) -DV8_JOBS=1

override_dh_auto_build:
	dh_auto_build -- -Onone

override_dh_auto_install:
	dh_auto_install -- install_emoji install_icons
