Source: v8
Section: libs
Priority: optional
Maintainer: Eamon Walsh <ewalsh@termysequence.com>
Build-Depends: debhelper (>= 10), g++ (>= 4:7.3), ninja-build, python-minimal,
 python2.7, libreadline-dev, libicu-dev, libglib2.0-dev, libatomic-ops-dev
Standards-Version: 4.1.2
Homepage: https://chromium.googlesource.com/v8/v8/

Package: libv8
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: JavaScript Engine
 V8 is Google's open source JavaScript engine. V8 is written in C++ and is used
 in Google Chrome, the open source browser from Google. V8 implements ECMAScript
 as specified in ECMA-262, 3rd edition.

Package: libv8-dev
Section: libdevel
Architecture: amd64
Depends: libv8 (= ${binary:Version}), ${misc:Depends}
Description: JavaScript Engine
 V8 is Google's open source JavaScript engine. V8 is written in C++ and is used
 in Google Chrome, the open source browser from Google. V8 implements ECMAScript
 as specified in ECMA-262, 3rd edition.
