# version: 1.1.0
# release: 4

Source: termysequence-server
Section: utils
Priority: optional
Maintainer: Eamon Walsh <ewalsh@termysequence.com>
Build-Depends: debhelper (>= 10), cmake (>= 3.9), g++ (>= 4:7.3), pkg-config,
 libsystemd-dev (>= 235), uuid-dev,
 libgit2-dev (>= 0.26), libcmocka-dev,
Standards-Version: 4.1.2
Homepage: https://termysequence.io

Package: termy-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: libgit2-26, termy-shell-integration-bash
Description: TermySequence terminal multiplexer server
 A multiplexing terminal emulator server implementing
 the TermySequence protocol.

Package: termy-shell-integration-bash
Architecture: all
Depends: ${misc:Depends}
Enhances: termy-server
Description: TermySequence iTerm2-compatible bash integration
 iTerm2 bash shell integration for TermySequence,
 sourced by /etc/profile
