#!/usr/bin/make -f
# export DH_VERBOSE = 1

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

v8arch := x64
v8lib := x86_64-linux-gnu

%:
	dh $@

override_dh_auto_clean:

override_dh_auto_configure:

override_dh_auto_build:
	/bin/bash debian/do_build.sh $(v8arch)

override_dh_install:
	/bin/bash debian/do_install.sh $(v8arch) $(v8lib)
	dh_install
